<ul class="grid-items">
	<% @account.dealerships.take(5).each do |dealership| %>
		<% if can? :read, dealership %>
			<li class="grid-body">
			  <ul>
			    <li>
			      <span class="grid-user small">
			        <span class="grid-usericon">
			        	<%= dealership.slug.upcase %>
			        </span>
			      	<span class="grid-title">
			      		<%= link_to dealership.name, edit_account_dealership_path(@account, dealership) %>
			      		<p class="grid-text"><%= dealership.city %><i></i><%= dealership.state %></p>
			      	</span>
			      </span>
			      <span class="grid-info"><b class="fa fa-flag-checkered">0</b> <%= t("arena").downcase %></span>
			    </li>
			  </ul>
			</li>
		<% end %>
	<% end %>
</ul>