<%= form_for(@account, validate: true) do |f| %>
  <% if @account.errors.any? %>
    <div id="toast-container" class="toast-top-right">
      <div class="toast toast-error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div class="toast-title"><%= t('errors.template.header', :count => @account.errors.count, :model => t('account')) %></div>
        <div class="toast-message">
           <ul>
            <% @account.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" id="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-4 list-description">
            <h4><%= t(".profile.title") %></h4>
            <p><%= t(".profile.description") %></p>
          </div>
          <div class="col-xs-12 col-sm-7 list-content">
            <div class="col-xs-12 col-sm-1 box-avatar">
              <div class="img-avatar img-middle">
                <% unless @account.profile_image? %>
                  <span><%= t("account") %></span>
                <% else %>
                  <img src="<%= @account.profile_image_url(:thumb)%>" alt="<%= @account.name %>">
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5">
              <div class="form-group">
                <%= f.label :profile_image, t(".profile.image"), class: "control-label" %>
                <%= f.file_field :profile_image, class: "file-preview" %>
              </div>
              <div class="form-group">
                <%= f.label :name, t("form.name"), class: "control-label" %>
                <%= f.text_field :name, class: "form-control", placeholder: t(".profile.placeholder.name") %>
              </div>
              <div class="form-group">
                <%= f.label :slug, t("form.slug"), class: "control-label" %>
                <%= f.text_field :slug, class: "form-control", placeholder: t(".profile.placeholder.slug") %>
                <small><%= t("form.slug_small")%></small>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item" id="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-4 list-description">
            <h4><%= t(".contractor_information.title") %></h4>
            <p><%= t(".contractor_information.description") %></p>
          </div>
          <div class="col-xs-12 col-sm-5 list-content">
            <div class="form-group">
              <%= f.label :name_contract_manager, t("form.name"), class: "control-label" %>
              <%= f.text_field :name_contract_manager, class: "form-control", placeholder: t(".contractor_information.placeholder.name_contract_manager") %>
            </div>
            <div class="form-group">
              <%= f.label :email_contract_manager, t("form.email"), class: "control-label" %>
              <%= f.email_field :email_contract_manager, class: "form-control", placeholder: t(".contractor_information.placeholder.email_contract_manager") %>
            </div>
            <div class="form-group">
              <%= f.label :phone_contract_manager, t("form.phone"), class: "control-label" %>
              <%= f.telephone_field :phone_contract_manager, data: {phone: true}, class: "form-control", placeholder: t(".contractor_information.placeholder.phone_contract_manager") %>
            </div>
            <div class="form-group">
              <%= f.label :cpf_contract_manager, "CPF", class: "control-label" %>
              <%= f.telephone_field :cpf_contract_manager, data: {cpf: true}, class: "form-control", placeholder: t(".contractor_information.placeholder.cpf_contract_manager") %>
            </div>
          </div>
        </div>
      </li>
      <% if can? :update, @account %>
        <li class="list-group-item" id="form-inputs">
          <div class="row">
            <div class="col-xs-12 col-sm-4 list-description">
              <h4><%= t(".account_manager.title") %></h4>
              <p><%= t(".account_manager.description") %></p>
            </div>
            <div class="col-xs-12 col-sm-5 list-content">
              <div class="form-group">
                <% if @account.account_manager %>
                  <%= f.select(:account_manager_id, options_for_select(User.where(rule: 2).collect { |b| ["#{b.name} | (#{b.slug})", b.id]}, @account.account_manager.user_id), {prompt: t(".account_manager.placeholder.account_manager_id")}, class: 'form-control', required: true) %>
                <% else %>
                  <%= f.select(:account_manager_id, options_for_select(User.where(rule: 2).collect { |b| ["#{b.name} | (#{b.slug})", b.id]}, @account.account_manager), {prompt: t(".account_manager.placeholder.account_manager_id")}, class: 'form-control', required: true) %>
                <% end %>
                <small>(<%= t("form.optional")%>)</small>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <% if can? :update, @account %>
        <% if @account.id %>
          <li class="list-group-item" id="form-inputs">
            <div class="row">
              <div class="col-xs-12 col-sm-4 list-description">
                <h4>Matriz</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="col-xs-12 col-sm-7 list-content">
                <% unless @account.account_headquarter %>
                  <%= link_to "Adicionar Matriz", new_account_dealership_path(@account), class: "btn btn-primary"%>
                <% else %>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h5><%= @account.account_headquarter.dealership.name %></h5>
                      <p><%= @account.account_headquarter.dealership.complete %></p>
                      <%= link_to "Editar Matriz", edit_account_dealership_path(@account, @account.account_headquarter.dealership), class: "btn btn-primary"%>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      <% if can? :update, @account %>
        <% if @account.id %>
          <li class="list-group-item" id="form-inputs">
            <div class="row">
              <div class="col-xs-12 col-sm-4 list-description">
                <h4><%= t("helpers.activate.title", model: t("user"))%></h4>
                <p><%= t("helpers.activate.description", model: t("user"))%></p>
              </div>
              <div class="col-xs-12 col-sm-5 list-content">
                <div class="form-group group-choice">
                  <div class="checkbox text-success">
                    <% unless @account.incomplete? %>
                      <%= f.check_box :active %>
                      <%= f.label :active %>
                    <% else %>
                      <%= f.check_box :active, disabled: "disabled" %>
                      <%= f.label :active %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      <% if can? :destroy, @account %>
        <% if @account.id %>
          <li class="list-group-item" id="form-inputs">
            <div class="row">
              <div class="col-xs-12 col-sm-4 list-description">
                <h4 class="text-danger"><%= t("helpers.delete.title", model: t("account"))%></h4>
                <p><%= t("helpers.delete.description", model: t("account"))%></p>
              </div>
              <div class="col-xs-12 col-sm-5 list-content">
                <%= link_to "Excluir conta...", @account, class: "btn btn-danger call-modal-destroy"%>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      <li class="list-group-item" id="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-4 list-description">
            <h4><%= t(".save.title")%></h4>
            <p><%= t(".save.description")%></p>
          </div>
          <div class="col-xs-12 col-sm-5 list-content">
            <%= f.submit t('helpers.submit.save'), class: "btn btn-primary" %>
            <%= link_to t('helpers.submit.cancel'), accounts_path, class: "btn btn-default" %>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>