<div class="container-fluid page-header" id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h4 class="page-title"><i class="fa fa-university"></i><%= t('account').pluralize(I18n.locale.to_sym) %></h4>
      </div>
      <div class="col-xs-6">
        <%= link_to new_account_path, class: "auto-more call-modal", :data => {toggle: "tooltip", placement: "left",  title: t('helpers.submit.create', model: t("account"))} do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<section id="accounts" class="container-fluid listing">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <div class="ctrls">
        <%= form_tag accounts_path, id: "filter-search", class: "filter", method: "GET" do %>
          <span class="fa fa-search"></span>
          <%= text_field_tag :search, params[:search], autocomplete: "off", :placeholder => t('form.search'), class:"form-control ng-pristine ng-valid ng-touched" %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :order, params[:order] %>
        <% end %>
      </div>
      <div class="grid grid-list">
        <div class="grid-head">
          <ul>
            <li style="width:30%"><a data-sort="name" data-order="asc"><%= t "form.name" %></a></li>
            <li style="width:35%"></li>
            <li style="width:15%"><span><%= t "form.last_update" %></span></li>
            <li style="width:5%"></li>
            <li style="width:15%"></li>
          </ul>
        </div>
        <div id="item-list">
          <%= render "accounts" %>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>