<div class="container-fluid page-header" id="page-title">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12 col-sm-6">
		    <h4 class="page-title">
	    	<i class="fa fa-university"></i>
	    	<%= link_to t('account').pluralize(I18n.locale.to_sym), accounts_path %>
	    	<span class="fa fa-chevron-right"></span>
	    	<%= @account.name %>
	    	</h4>
		  </div>
		  <div class="col-xs-6">
	  		<% unless @account.incomplete? %><a href="#options-model" class="auto-more call-modal"><i class="fa fa-plus"></i></a><% end %>
				<% if @account.favorite %>
	      <%= link_to account_path(@account, "account[favorite]" => false), method: :put, class: "auto-favorite active" do %>
				  <i class="fa"></i>
				<% end %>
				<% else %>
				<%= link_to account_path(@account, "account[favorite]" => true), method: :put, class: "auto-favorite" do %>
					  <i class="fa"></i>
					<% end %>
				<% end %>
	  	</div>
		</div>
	</div>
</div>

<%= render "shared" %>

<section class="container-fluid">
	<div class="container">
		<div id="main" class="overview-main">
			<%= render "overview" %>
		</div>
	</div>
</section>

<div class="overlay admin">
	<div class="dark-side"></div>
	<% unless @account.incomplete? %>
		<div id="options-model" class="modal options-modal">
			<%= render "options" %>
		</div>
	<% end %>
</div>