<ul class="grid-items">
	<% @dealerships.each do |dealership| %>
		<% if can? :read, dealership %>
			<li class="grid-body">
			  <ul>
			    <li>
			      <span class="grid-user">
		        	<% unless dealership.active %>
		        		<i class="fa fa-circle"></i>
		        	<% else %>
		        		<i class="fa fa-circle active"></i>
		        	<% end %>
			        <span class="grid-usericon">
			        	<%= dealership.slug.upcase %>
			        </span>
			      	<span class="grid-title"><%= link_to truncate(dealership.name, :length => 35), edit_account_dealership_path(@account, dealership) %></span>
			      </span>
			    </li>
					<li class="progress-log">
			    	<% if dealership.incomplete? %>
					  	<span class="progress-log">
					  		<i style="width: <%= dealership.incomplete? %>%;"></i>
					  	</span>
					  	<span><%= dealership.incomplete? %>%</span>
						<% else %>
			      	<span><%= truncate(dealership.city_state, :length => 60) %></span>
						<% end %>
					</li>
			    <li>
			      <span class="grid-date">
			      	<%= distance_of_time_in_words(Time.now, dealership.updated_at, scope: 'datetime.distance_in_words') %>
			      </span>
			    </li>
			    <li>
				  </li>
			    <li>
			      <span class="grid-options">
			      	<%= link_to edit_account_dealership_path(@account, dealership) do %>
			      		<span class="fa fa-ellipsis-h"></span>
							<% end %>
			      </span>
			    </li>
			  </ul>
			</li>
		<% end %>
	<% end %>
</ul>

<%= will_paginate @dealerships, renderer: BootstrapPagination::Rails %>