<section class="col-xs-12 col-sm-6">
	<div class="row">
		<% if @types.any? %>
			<h6>
				<%= t("admin.types.index.title") %> <%= "(#{@types.size})" if @types.size > 5 %>
				<%= link_to (t("admin.types.index.all") + ' <i class="fa fa-arrow-circle-o-right"></i>').html_safe, types_path if @types.size > 5 %>
			</h6>
			<div class="box-content listing">
				<div class="grid grid-list">
		      <div id="item-list">
		        <%= render "admin/types/types" %>
		      </div>
		    </div>
			</div>
		<% end %>
	</div>

	<div class="row">
		<% if @categories.any? %>
			<h6>
				<%= t("admin.categories.index.title") %> <%= "(#{@categories.size})" if @categories.size > 5 %>
				<%= link_to (t("admin.categories.index.all") + ' <i class="fa fa-arrow-circle-o-right"></i>').html_safe, categories_path if @categories.size > 5 %>
			</h6>
			<div class="box-content listing">
				<div class="grid grid-list">
		      <div id="item-list">
		        <%= render "admin/categories/categories" %>
		      </div>
		    </div>
			</div>
		<% end %>
	</div>
</section>

<section class="col-xs-12 col-sm-6">
	<div class="row">
		<h6><%= t("admin.dashboard.latest_activities")%></h6>
		<div class="box-content"></div>
	</div>
</section>
