<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item" id="form-inputs">
      <div class="row">
        <div class="col-xs-12 col-sm-4 list-description">
          <h4><%= t("admin.categories.new.title")%></h4>
          <p><%= t("admin.categories.new.description") %></p>
        </div>
        <div class="col-xs-12 col-sm-7 list-content">
          <%= form_for(@category, validate: true, class: "form-inline") do |f| %>
            <% if @category.errors.any? %>
              <div id="toast-container" class="toast-top-right">
                <div class="toast toast-error">
                  <button category="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <div class="toast-title"><%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:</div>
                  <div class="toast-message">
                     <ul>
                      <% @category.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="form-group sortable">
              <div class="row">
                <div class="col-xs-4"><h6><%= t(".name") %></h6></div>
                <div class="col-xs-4"><h6><%= t(".type") %></h6></div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <%= f.text_field :name, placeholder: t(".name"), class: "form-control" %>
                </div>
                <div class="col-xs-4">
                  <%= f.collection_select :type_id, Type.rank(:row_order).all, :id, :name, {include_blank: t(".select_type")}, {:class => 'form-control'} %>
                </div>
                <div class="col-xs-4 actions">
                  <%= button_tag(category: "submit", class: "btn btn-primary") do %>
                    <i class="fa fa-plus"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
    <li class="list-group-item" id="form-inputs">
      <div class="row">
        <div class="col-xs-12 col-sm-4 list-description">
          <h4><%= t(".title")%></h4>
          <p><%= t(".description") %></p>
        </div>
        <div class="col-xs-12 col-sm-6 list-content">
          <% if @categories.any? %>
            <%= form_tag update_multiple_categories_path, id: "update_multiple", method: :put do %>
              <% @types.each do |type| %>
                <% if type.categories_count > 0 %>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel-group" id="type-<%= type.id %>" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="heading-<%= type.id %>">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#type-<%= type.id %>" href="#collapse-<%= type.id %>" aria-expanded="true" aria-controls="collapse-<%= type.id %>">
                                <% if type.icon != "" %><i class="fa <%= type.icon %>"></i> <% end %><%= type.name %> (<%= type.categories_count %>)
                              </a>
                            </h4>
                          </div>
                          <div id="collapse-<%= type.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= type.id %>">
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-xs-5"><h6><%= t(".name") %></h6></div>
                                <div class="col-xs-5"><h6><%= t(".type") %></h6></div>
                              </div>
                              <ol class="sortable sortable_drop" data-url='categories/update_row_order'>
                                <% @categories.where(type_id: type.id).each do |category| %>
                                  <li class="form-group item" data-item-id=<%= "#{category.id}" %>>
                                    <%= fields_for "categories[]", category do |f| %>
                                      <div class="form-group sortable">
                                        <div class="row item-content">
                                        <span class="fa fa-ellipsis-v icon-move"></span>
                                          <div class="col-xs-5">
                                            <%= f.text_field :name, placeholder: "Nome", class: "form-control" %>
                                          </div>
                                          <div class="col-xs-5">
                                            <%= f.text_field :type_no_change, value: category.type.name, class: "form-control", disabled: "disabled" %>
                                          </div>
                                          <div class="col-xs-2 actions">
                                            <% if can? :destroy, category %>
                                              <%= link_to category, method: :delete, class: "btn btn-danger" do %>
                                                <i class="fa fa-trash"></i>
                                              <% end %>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  </li>
                                <% end %>
                              </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>
