<div class="container-fluid page-header" id="page-title">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6">
		    <h4 class="page-title">
		    	<% unless @user.rule == 1 %>
		    		<i class="fa fa-user"></i>
		      <% else %>
		    		<i class="fa fa-user-secret"></i>
		      <% end %>
		    	<%= t('user').pluralize(I18n.locale.to_sym) %>
		    	<span class="fa fa-chevron-right"></span>
		    	<%= t(".title") %>
		    </h4>
		  </div>
		</div>
	</div>
</div>

<section class="container-fluid container-form">
	<div class="container">
		<div class="row">
			<div id="main">
				<%= form_for @user do |f| %>
					<div class="col-xs-12">
				    <ul class="list-group">
				      <li class="list-group-item" id="form-inputs">
				        <div class="row">
				          <div class="col-xs-4 list-description">
				            <h4><%= t(".preview.title") %></h4>
				            <p><%= t(".preview.description") %></p>
				            <div class="box-avatar">
			              	<div class="img-avatar img-large">
							          <%= f.previewbox :profile_image %>
				          		</div>
				          	</div>
				          </div>
				          <div class="col-xs-7 list-content img-origin">
				            <%= f.cropbox :profile_image %>
				          </div>
				        </div>
				      </li>
				      <li class="list-group-item" id="form-inputs">
				        <div class="row">
				          <div class="col-xs-4 list-description">
				            <h4><%= t(".title") %></h4>
				            <p><%= t(".description") %></p>
				          </div>
				          <div class="col-xs-7 list-content">
				            <%= f.submit t(".button"), class: "btn btn-primary" %>
				          </div>
				        </div>
				      </li>
				    </ul>
		  		</div>
		  	<% end %>
		  </div>
		</div>
	</div>
</section>
