<div class="container-fluid page-header" id="page-title">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6">
		    <h4 class="page-title">
		    	<% unless @user.rule == 1 %>
		    		<i class="fa fa-user"></i>
		      <% else %>
		    		<i class="fa fa-user-secret"></i>
		      <% end %>
		    	<%= link_to t("admin.users.index.title"), users_path %>
		    	<span class="fa fa-chevron-right"></span>
		    	<%= @user.name %>
		    	<span class="fa fa-chevron-right"></span>
		    	<%= t(".title") %>
		    	</h4>
		  </div>
		</div>
	</div>
</div>

<section class="container-fluid container-form">
	<div class="container">
		<div class="row">
			<div id="main">
				<%= form_for(@user) do |f| %>
				  <% if @user.errors.any? %>
				    <div id="toast-container" class="toast-top-right">
				      <div class="toast toast-error">
				        <button class="toast-close-button">×</button>
				        <div class="toast-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</div>
				        <div class="toast-message">
				           <ul>
				            <% @user.errors.full_messages.each do |message| %>
				              <li><%= message %></li>
				            <% end %>
				          </ul>
				        </div>
				      </div>
				    </div>
				  <% end %>
				  <div class="col-xs-12">
				    <ul class="list-group">
				      <li class="list-group-item" id="form-inputs">
				        <div class="row">
				          <div class="col-xs-4 list-description">
				            <h4><%= t(".title") %></h4>
				            <p><%= t(".description") %></p>
				          </div>
				          <div class="col-xs-5 list-content">
			              <div class="form-group">
			                <label for="exampleInputEmail1"><%= t(".password") %></label>
			                <%= f.password_field :password, class: "form-control", placeholder: t(".placeholder.password") %>
			                <small><%= t("admin.users.form.password_small")%></small>
			              </div>
			              <div class="form-group">
			                <label for="exampleInputPassword1"><%= t(".password_confirmation") %></label>
			                <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(".placeholder.password_confirmation") %>
			              </div>
				          <div class="form-group">
				            <%= f.submit "Alterar", class: "btn btn-primary" %>
				            <%= link_to "Cancelar", users_path, class: "btn btn-default" %>
				          </div>
				        </div>
				      </li>
				    </ul>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</section>
